@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

@keyframes music-wave {
  0%, 100% { height: 10px; opacity: 0.5; }
  50% { height: 32px; opacity: 1; }
}